{% extends "socialnetwork/base.html" %}

{% block user-info %}
    <div class="global-nav-container">
        <div class="nav profile-name">
            <a href="{% url 'myprofile' %}" id="id_nav_profile">
                {{request.user.first_name}} {{request.user.last_name}}
            </a> 
        </div>
        <div class="nav global-link">
            <a href="{% url 'global' %}" id="id_nav_global_stream" class="nav-link">
                Global
            </a>
        </div>
        <div class="nav follower-link">
            <a href="{% url 'follower' %}" id="id_nav_follower_stream" class="nav-link">
                Follower
            </a>
        </div>
        <div class="nav logout-link">
            <a href="{% url 'logout' %}" id="id_nav_logout" class="nav-link">
                Logout
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="id_page_name">
        Profile Page for {{request.user.first_name}} {{request.user.last_name}}
    </div>
    {% load static %}
    {% if not profile.picture %}
        <img src="{% static 'socialnetwork/jeff.jpg' %}"  id="id_user_picture">
    {% else %}
        <img src="{% url 'photo' profile.id %}"  id="id_user_picture">
    {% endif %}
    <div>
        <form enctype="multipart/form-data" action="{% url 'myprofile' %}" method="post" class="edit-form">
            <table>
                {% for field in form.visible_fields %}
                    <tr>
                        <td>{{field.label_tag}}</td>
                        <td>{{field}}</td>
                        <td class="error">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr><td colspan="3"><input type="submit" value="Submit" id=id_update_profile_button ></td></tr>
            </table>
            {% csrf_token %}
        </form>
    </div>
    


    <div class="follower-list">
        <span>You are following: </span>
        <ul>
            {% for u in profile.follow.all %}
            <li>
                <a href="{% url 'otherprofile' u.id %}" id="id_profile_link_{{u}}">{{u.first_name}} {{u.last_name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

